/.DS_Store
/Assignment_2812022.pdf
/DATA40171_Group_and_Individual_Coursework_2022_23.pdf
/NoSQL_Report.pdf
/bimmo_queries (1).ipynb
/bimmo_queries 2.ipynb
/customer_phone.csv
/group_report
/past_order.csv